@import '../colors/color.less';
@import '../sizes/size.less';

.mku-button-wrapper {
  display: inline-block;
  .mku-button {
    display: block;
    width: 100%;
    height: @height-default-size;
    padding: 0 13px;
    border-radius: @border-radius-default;
    border: 1px solid @border-color-base;
    background: @background-color-base;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition-property: opacity, border-color, color;
    transition-duration: .3s;
    /* primary button */
    > .iconfont {
      display: inline-block;
    }
    &.mku-button--primary {
      border: 1px solid @color-primary;
      color: @color-white;
      background-color: @color-primary;
      &:hover {
        .button-opacity()
      }
    }
    /* default button*/
    &.mku-button--default:hover {
      color: @color-primary;
      border: 1px solid @color-primary;
    }
    /* dashed button */
    &.mku-button--dashed {
      border: 1px dashed @border-color-base;
      &:hover {
        color: @color-primary;
        border-color: @color-primary;
      }
    }
    /* danger button */
    &.mku-button--danger {
      border: 1px solid @color-danger;
      color: @color-white;
      background-color: @color-danger;
      &:hover {
        .button-opacity()
      }
    }
    /* link button */
    &.mku-button--link {
      border: 0;
      color: @color-primary;
      background-color: @background-color-base;
      &:hover {
        .button-opacity()
      }
    }
    /* 三种按钮尺寸 */
    &.mku-button--lg {
      height: @height-large-size;
    }
    &.mku-button--sm {
      height: @height-small-size;
    }
    &.mku-button--loading {
      .button-opacity();
      > .iconfont {
        animation: rotate 2s linear infinite;
      }
    }
  }
}
.button-opacity {
  opacity: .8;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}