@keyframes mkuIconRotate {
  to {
    transform: rotate(360deg);
  }
}
.mku-icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}
.mku-icon-loading {
  animation: mkuIconRotate 2s linear infinite;
}