.doc-icons-wrapper {
  .doc-icons__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    text-align: center;
    &:hover {
      background: #f1f1f1;
      cursor: pointer;
    }
    .mku-icon {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}