/* 规范所有sku-开头的class的盒模型 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #515a6e;
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

a {
  text-decoration: none;
  color: #515a6e;
}

ul,
li {
  list-style: none;
}
/* 去除浮动 */
.mku-global-clear {
  zoom: 1;
}
.mku-global-clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.market-doc-container {
  .mku-doc__warning {
    padding: 10px 20px;
    margin: 16px 0;
    border-radius: 4px;
    overflow: hidden;
    background: #ffd6e7;
    code {
      font-weight: bold;
    }
  }
}

.doc-mb10 {
  margin-bottom: 10px !important;
}

.doc-mb20 {
  margin-bottom: 20px !important;
}

.doc-mb30 {
  margin-bottom: 30px !important;
}

.doc-mt10 {
  margin-top: 10px !important;
}

.doc-mt20 {
  margin-top: 20px !important;
}

.doc-mr10 {
  margin-right: 10px !important;
}

.doc-mr20 {
  margin-right: 20px !important;
}

.docs-scroller--hide::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
}
.docs-scroller--hide::-webkit-scrollbar-thumbr {
  width: 0;
}

.docs-scroller::-webkit-scrollbar {
  width: 4px;
  opacity: 0;
}
.docs-scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
.docs-scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);

}