/* 主色 */
@color-primary: #2d8cf0;
@color-primary-light: #5cadff;
@color-primary-dark: #2b85e4;

/* 辅助色 */
@color-success: #19be6b;
@color-warning: #ffe58f;
@color-danger: #ed4014;
@color-info: #2db7f5;

/* 字体色 */
@color-text-primary: #17233d;
@color-text-regular: #515a6e;
@color-text-secondary: #808695;
@color-text-disabled: #c5c8ce;

/* 边框色 */
@border-color-base: #dcdee2;
@border-color-light: #E4E7ED;
@border-color-lighter: #EBEEF5;
@border-color-extra-light: #F2F6FC;

@color-white: #fff;
@color-black: #000;

@background-color-base: #fff;
@background-color-disabled: #f5f5f5;

@shadow-primary: 0 0 6px #5cadff;
@shadow-border-base: 0 0 6px #dcdee2;
